.newspaper-layout {
  display: grid;
  grid-template-areas: 
    "title              title              title"
    "feature-article    feature-article    cover-image"
    "secondary-article  secondary-article  cover-image"
    "small-article1     small-article2     small-article3"
    "small-article4     small-article5     cover-image2";
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.title {
  grid-area: title;
  background-color: #eae0d1;
  display: grid;
  place-items: center;
  font-size: 45px;
  border-radius: 20px;
  border: 7px solid #800000;
  
}

.feature-article {
  grid-area: feature-article;
  text-align: justify;
}

.secondary-article {
  grid-area: secondary-article;
  text-align: justify;
}

.cover-image {
  grid-area: cover-image;
}

.cover-image img {
  width: 100%;
  height: 100%;
  display: block;
}


.cover-image2 {
  grid-area: cover-image2;
}

.cover-image2 img {
  width: 100%;
  height: 150%;
  display: block;
}

.small-article1 {
  grid-area: small-article1;
  text-align: justify;
}

.small-article2 {
  grid-area: small-article2;
  text-align: justify;
}

.small-article3 {
  grid-area: small-article3;
  text-align: justify;
}

.small-article4 {
  grid-area: small-article4;
  text-align: justify;
}

.small-article5 {
  grid-area: small-article5;
  text-align: justify;
}

img {
  border-radius: 20px;
  border: 7px solid #eae0a1;
  max-width: 100%;
}

body {
  background-color: #d8e1e6;
  font-family: 'Inter', sans-serif;
  margin: 10px;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

p {
  font-size: 1.125rem; /* ~18px base, more readable than default */
  line-height: 1.6;    /* improves readability */
}

/* Tablet and smaller screens */
@media only screen and (max-width: 992px) {
  .newspaper-layout {
    grid-template-columns: 1fr 1fr; /* two columns instead of three */
    grid-template-areas:
      "title title"
      "feature-article cover-image"
      "secondary-article cover-image"
      "small-article1 small-article2"
      "small-article3 small-article4"
      "small-article5 cover-image2";
  }

  .cover-image2 img {
    height: auto; /* let images resize automatically */
  }
}

/* Mobile phones and very small tablets */
@media only screen and (max-width: 600px) {
  .newspaper-layout {
    grid-template-columns: 1fr; /* one column layout */
    grid-template-areas:
      "title"
      "feature-article"
      "cover-image"
      "secondary-article"
      "small-article1"
      "small-article2"
      "small-article3"
      "small-article4"
      "small-article5"
      "cover-image2";
  }

  .feature-article, .secondary-article, .small-article1,
  .small-article2, .small-article3, .small-article4, .small-article5 {
    text-align: left;
    padding: 10px;
  }

  .cover-image img,
  .cover-image2 img {
    width: 100%; /* ensure images scale to screen width */
    height: auto;
  }
}
